<div>
    <h1>
        Mission
    </h1>
    <p>We use historical weather and transport data to predict the safest means of transportation around New York during extreme rain. We do this via a trained AI model that takes in historical datasets of rain, weather, transportation, closures, accidents, etc in New York and predicts a solution based on the user’s input of current conditions. This provides people with data-backed transport options during times of extreme rain.
    </p>
    
    <h1>About</h1>

    <p>
        I am from Manhattan and first was inspired to do this project after the extreme rainstorm on September 23, 2023. I drove myself to school that morning from downtown Manhattan to the Bronx, unaware of the extreme conditions that I would be driving through. I felt nervous and unsafe on the road and wanted to think of a way to be prepared and prepare others for future events of extreme rain.
    </p>

    <h1>
        Weather Statistics
    </h1>

    <ul>
        <li> Due to the extreme rain on September 28th of 2023, 10 train lines in Brooklyn and all three Metro-North train lines were suspended. <a href = "https://www.nesdis.noaa.gov/news/heavy-rains-cause-flooding-new-york-city ">(Source)</a> </li>
        <li> Due to flooding, over 40 city buses were standed on the street. <a href = "https://thehill.com/homenews/state-watch/4231233-heres-how-the-flooding-is-impacting-new-york-citys-public-transit/ ">(Source)</a> </li>
        <li> All trains from Grand Central Station and Metro-North lines were temporarily suspended. <a href = "https://thehill.com/homenews/state-watch/4231233-heres-how-the-flooding-is-impacting-new-york-citys-public-transit/ ">(Source)</a> </li>
        <li> 150 flights from Laguardia and 100 flights from JFK were cancelled. <a href = "https://thehill.com/homenews/state-watch/4231233-heres-how-the-flooding-is-impacting-new-york-citys-public-transit/ ">(Source)</a> </li>
    </ul>

   
    <ul>
        <li>Out of 6,000,000 car accidents eaach year, over 1.2 million (21%) of them are caused by hazardous weather <a href = "https://www.gkbm.com/blog/dot-weather-related-car-accident-statistics/">(Source)</a> 
        <li>Annually, 75% of accidents inflicted by weather happened on wet pavement and 47% during rainfall. <a href = "Https://ops.fhwa.dot.gov/weather/weather_events/rain_flooding.htm#:~:text=Each%20year%2C%2075%20percent%20of,crashes%20on%20wet%20pavement%20annually ">(Source)</a> </li>
        <li>Each year, about 5,700 people are killed and about 544,700 people are injured on wet pavements. <a href = "Https://ops.fhwa.dot.gov/weather/weather_events/rain_flooding.htm#:~:text=Each%20year%2C%2075%20percent%20of,crashes%20on%20wet%20pavement%20annually ">(Source)</a> </li>
        <li>Over 2,400 peple are killed and 357,300 people are hurt in car crashes taking place in heavy rain. <a href = "Https://ops.fhwa.dot.gov/weather/weather_events/rain_flooding.htm#:~:text=Each%20year%2C%2075%20percent%20of,crashes%20on%20wet%20pavement%20annually ">(Source)</a> </li>
    </ul>

   <a href = "/predictor"><button>go to model</button></a> 
</div>